{% extends 'Gingerbreads/layout.html' %}
{% load static %}

{% block title %}
    Главная страница
{% endblock title %}

{% block static %}
    <link rel="stylesheet" href="{% static 'Gingerbreads/css/Gingerbreads_list.css' %}">
{% endblock static %}

{% block content %}
    <div class="info">
        <h1>Тут главная страница, поздравляю ты её нашел </h1>
        <h3>А вообще это новостной блог.
        Который сгенерирован чатом.
        </h3>
    </div>  
    <div class='last_news'>
        <a style="border-bottom: 2px solid black;" class ='text_content'>Последние новости</a>
        {% for blog in blogs %}
        <div class='blog'>
            <div style="width: 100%; display:flex; justify-content: center;">
                <a href="{{ blog.get_absolute_url }}" class='title_blog'>{{ blog.title }}</a>
            </div>    
            <a class='content_blog'>{{blog.content | truncatechars:150 }}</a>
            <div class='img_blog'>
                <div 
                style=
                'background: url({{blog.images.url}}) no-repeat; 
                background-position: center;
                background-size:cover;
                    width: 100%; 
                    height: 100%;'></div>
                </div>
                <div class='blog_info'>
                    <a>{{blog.author}}</a>
                    <a>{{blog.date_published}}</a>
                </div>  
            </div>
            <div class='footer_blog'></div>   
            {% endfor %}
        </div>
<div class="centered">
  <h3>
    <a class="new_news" href="{% url 'news:create_news' %}">Создать новость</a>
  </h3>
</div>
        {% endblock content %}